@import url('https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans !important;
  --color-background: #131426;
  --color-foreground: white;
  --color-primary: rgb(1, 149, 255);
  --color-primary-foreground: black;
  --color-primary-background: black;
  --color-secondary: black;
  /* --color-secondary-foreground: black; */
  --color-secondary-background: black;
  --color-destructive-foreground: black;
  --color-muted: rgb(47, 47, 87);
  --color-card: rgb(32, 40, 41);
  --color-muted-foreground: white;

}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
    font-family: Poppins !important;

}

@keyframes car-drive {
  0% { transform: translateX(-50px); }
  100% { transform: translateX(calc(100vw + 50px)); }
}

.animate-car-drive {
  animation: car-drive 8s linear infinite;
}

